@page "/test"


@using EndToEndTest.Data.CommerceDataModels
@using Data
@using Microsoft.AspNetCore.Http;
@using Microsoft.Data.SqlClient
@using Microsoft.AspNetCore.Components.Forms
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IHttpContextAccessor HttpContextAccessor

@inherits OwningComponentBase<TransactionSummary>

    <AuthorizeView>
        <Authorized>
            <div class="container mt-5">
                <h2>Notifications</h2>
                <select name="desc">
                    <option value="">DropDown</option>
                    @foreach (var x in transDesc)
                    {
                        <option>@x.Key</option>
                    }
                </select>
            </div>
        </Authorized>
    </AuthorizeView>

@code {
    public List<Transactionsmaster> transactionsList;
    public Dictionary<String, decimal> transDesc;

    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User;
        string userID = user.FindFirst(c => c.Type.Contains("nameidentifier"))?.Value;

        transactionsList = await Service.GetRecentTransaction(userID);
        transDesc = await Service.getTransactionDescription(userID);
    }
}
