<nav class="navbar navbar-expand-lg navbar-dark shadow p-3 mb-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Commerce Bank Application</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass navbar-collapse justify-content-end" @onclick="ToggleNavMenu" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/">About</a>
                    <a class="nav-link" href="Login">Login</a>
                    <a class="nav-link" href="Account">Dashboard</a>
                </div>
            </div>
        </div>
</nav>


@code {
    
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
