@using System.Security.Claims

@using EndToEndTest.Data.CommerceDataModels
@using Data
@using Microsoft.AspNetCore.Http;
@using Microsoft.Data.SqlClient
@using Microsoft.AspNetCore.Components.Forms
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IHttpContextAccessor HttpContextAccessor

@inherits OwningComponentBase<TransactionSummary>

<!--
    CSS for dropdown menu. Could be moved to another separate css file?     
-->
<style>
    .dropdown {
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 200px;
    }

    .dropdown:hover .dropdown-content {
        display: table;
    }
</style>

<AuthorizeView>
    <Authorized>
        <!--
        <a href="Identity/Account/Manage">
            Hello, @context.User.Identity.Name and @HttpContextAccessor.HttpContext.User.FindFirstValue(ClaimTypes.NameIdentifier);
            !
        </a>
        -->
        <div class="row align-items-center ml-1"><a class="nav-link" href="Dashboard">Dashboard</a></div>
        <div class="row align-items-center ml-1"><a class="nav-link" href="Transactions">Transactions</a></div>
        <div class="row align-items-center ml-1">
            <!--
                This part of the code is for dropdown menu for the 5 most recent transactions made in account 
                Key = transaction description 
                value = transaction amount 
            -->
            <div class="dropdown">
                <span class="oi oi-bell ml-3 mr-1" href="Notifications"></span>
                <div class="dropdown-content">
                    <table class="table shadow table-borderless table-striped">
                        <thead>
                            <tr>
                                <td>Transaction</td>
                                <td>Amount</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in transDesc) //for every transactions made
                            {
                                <tr>
                                    <td>@x.Key</td>
                                    <td>@x.Value</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <a class="nav-link" href="Notifications">Notifications</a>
        </div>
        <div class="row align-items-center ml-1">
            <form method="post" action="Identity/Account/LogOut">
                <button type="submit" class="btn nav_bar_button">Log out</button>
            </form>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="row align-items-center ml-1"><a href="Identity/Account/Register">Register</a></div>
        <div class="row align-items-center ml-1"><a href="Identity/Account/Login">Log in</a></div>
    </NotAuthorized>
</AuthorizeView>

@code {
    public List<Transactionsmaster> transactionsList;
    public Dictionary<String, decimal> transDesc;

    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User;
        string userID = user.FindFirst(c => c.Type.Contains("nameidentifier"))?.Value;

        transactionsList = await Service.GetRecentTransaction(userID);
        transDesc = await Service.getTransactionDescription(userID);
    }
}