@using System.Security.Claims
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor HttpContextAccessor

<AuthorizeView>
    <Authorized>
        <!--
    <a href="Identity/Account/Manage">
        Hello, @context.User.Identity.Name and @HttpContextAccessor.HttpContext.User.FindFirstValue(ClaimTypes.NameIdentifier);
        !
    </a>
    -->
        <div class="row align-items-center ml-1"><a class="nav-link" href="Dashboard">Dashboard  </a></div>
        <div class="row align-items-center ml-1"><a class="nav-link" href="Transactions">Transactions  </a></div>
        <div class="row align-items-center ml-1"><span class="oi oi-bell ml-3 mr-1" href="Notifications"></span><a class="nav-link" href="Notifications">Notifications  </a></div>
        <div class="row align-items-center ml-1"><a class="nav-link" href="notificationtest">NotificationsDEMO  </a></div>
        <div class="row align-items-center ml-1">
            <form method="post" action="Identity/Account/LogOut">
                <button type="submit" class="btn nav_bar_button">Log out  </button>
            </form>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="row align-items-center ml-1"><a href="Identity/Account/RegisterAsp">Register</a></div>
        <div class="row align-items-center ml-1"><a href="Identity/Account/Login">Log in</a></div>
    </NotAuthorized>
</AuthorizeView>
