
<nav class="navbar navbar-expand-lg navbar-dark shadow p-3 mb-5">
    <AuthorizeView>
        <Authorized>
            <a class="navbar-brand" href="Dashboard">NotiFi <img id="Bank_Logo" src="/Commerce_Logo_White.png" /></a>
        </Authorized>
        <NotAuthorized>
            <a class="navbar-brand" href="/">NotiFi <img id="Bank_Logo" src="/Commerce_Logo_White.png" /></a>
        </NotAuthorized>
    </AuthorizeView>
    It is @DateTime.Now.DayOfWeek.ToString(), @DateTime.Now.ToString("MMMMM") @DateTime.Now.Day.ToString() @DateTime.Now.ToString("yyyy")
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="@NavMenuCssClass navbar-collapse justify-content-end" @onclick="ToggleNavMenu" id="navbarNavDropdown">
        <ul class="navbar-nav">

            <LoginDisplay />
        </ul>
    </div>
</nav>


@code {

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}

